<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>A simple application to discover new music, via a record collection.<h1>
        <p>Let's go crate digging...</p>
    </body>
    <%= link_to "Start digging!", dig_path, class: "button" %>
</html>