<!DOCTYPE html>
<html>
    <head>
        
    </head>
    <body>
        <h1>A simple way to discover music, via a record collection.<h1>
        <%= image_tag("vinyl.png", size: "400x320", :alt => "vinyl") %>
    </body>
    <%= link_to "Pick a record!", dig_path, class: "button" %>
    <%= render 'layouts/footer' %>
</html>