@import "bootstrap-sprockets";
@import "bootstrap";

head {
    display: block;
    background-color: #355C7D;
    margin: none;
}

.header {
    display: block;
    margin: auto 5%;
}

.form-inline {
    display: block;
    text-align: right;
    margin-right: 2.5%;
}

title {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 56px;
    color: #F8B195;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    font-size: 28px;
    font-style: bold;
}

p {
   font-size: 14px; 
   text-align: left;
   display: block;
   margin-top: 5px;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 500px;
}

.video-container {
    display: block;
    text-align: center;
}

#record-info {
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #C06C84;
    padding: 1%;
}

.tracklist {
    ul {
        list-style: none;
        margin-left: 0;
        padding-left: 15px;
        }
}

footer {
    display: block;
    text-align: center;
    font-size: 100%;
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
    ul {
        list-style: none;
    }
}

.button {
    background-color: #F67280;
    display: block;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    margin: 5% 25% 5% 25%;
    font-size: 20px;
}