@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
    text-align: center;
}

#title {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 36px;
    color: #355C7D;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

button {
    background-color: #C06C84;
    display: block;
    border: none;
    color: white;
    border-radius: 12px;
    padding: 15px 32px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
}