<div class="container">
    <footer class="footer">
            <ul>
                <li>Made with ♥ by <a href="http://nichanank.com">Nichanan Kesonpat</a></li>
                <li><a href="http://nichanank.com">About the Project</a></li>
                <li><a href="https://github.com/nichanank/digmycrate">Source Code</a></li>
            </ul>
    </footer>
</div>